
  .formCard {
    background-color: white;
    padding: 20px 40px;
    border-radius: 4px;
    box-shadow: 4px 4px 15px #888888
  }
  
  .formControl {
    margin-bottom: 5px;
    padding-bottom: 10px;
    position: relative;
  }
  
  .formControl label {
    display: block;
  }
  
  
  .formControl input{
    border: solid 1px lightgrey;
    border-radius: 3px;
    width: 300px;
    padding: 10px;
    display: block;
  }
  
  .formControl input:focus{
    outline: 0;
    border-color: darkgrey;
  }
  
  .formControl small{
    color: #e74c3c;
    position: absolute;
    left: 0;
  }

  .submitBtn {
    background-color: #4CAF50;
    color: white;
    border-radius: 6px;
    padding: 10px 10px;
    margin: 13px 0px;
    width: 300px;
    transition-duration: 0.4s;
    border: 2px solid #4CAF50;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
  